.App{
  padding: 5vw;
  padding-bottom: 0;
  box-sizing: border-box !important;
}
.App hr{
  margin: 20px 5px;
  border-top: 2px dashed #73777B;
}
.mainscreen{
  width: 40% !important;
  margin: 0 auto !important;
  display: block !important;
  min-height: 200px !important;
  border-radius: 12px;
  overflow: hidden;
  box-sizing: border-box !important;
  padding: 0 10px !important;
  min-height: 90vh !important;
  position: relative !important;
}
.mainscreen h1{
  text-align: center;
  font-family: 'Carter One', cursive;
  letter-spacing: 1px;
}
.mainscreen-items{
  box-sizing: border-box !important;
  display: block !important;
  width: 100%;
  max-height: 40vh;
  overflow-y: scroll;
}

.addfood{
  border:2px solid #14C38E;
  font-family: 'Acme', sans-serif;
  font-size: 1.2rem;
  margin: 15px 0;
  box-sizing: border-box !important;
  border-radius: 10px;
  background-color: #cff8dd;
  padding: 12px 0;
  text-align: center;
  cursor: pointer;
}

.addfood:active{
  transform: scale(0.98);
}
.addfood i{
  position: relative;
  font-size: 1.5rem;
  top: -2px;
  margin-right: 10px;
}

.finalfood{
  border:2px solid #14C38E;
  font-family: 'Acme', sans-serif;
  font-size: 1.2rem;
  box-sizing: border-box !important;
  border-radius: 10px;
  background-color: #cff8dd;
  padding: 12px 0;
  text-align: center;
  position: absolute;
  cursor: pointer;
  left: 50%;
  transform: translate(-50%);
  width: 96%;
  bottom: 5vh;
}
.finalfood i{
  position: absolute;
  margin-top: -2px;
}
.finalcontainer{
  background-color: #EAE8E8;
  min-height: 30vh;
  border-radius: 10px;
  position: relative;
  border:2px solid #cfcdcd;
}
.finalcontainer div{
  position: absolute;
  top:20%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.form{
  width: 30% !important;
  margin: 0 auto !important;
}
.form h1{
  color: #4f5051;
  font-family: 'Acme', sans-serif;
}
.form .addbtn{
  background-color: #07B660;
  color: white;
  font-weight: bold;
  text-transform: capitalize;
  padding: 12px 0;
  margin-top: 2vh;
  margin-bottom: 5vh;
  font-size: 1.1rem;
}
.form .addbtn:hover{
  background-color: #07B660;
}
.form .addbtn:active{
  transform: scale(0.98);
}

.close-btn{
  cursor: pointer;
}

@media (max-width: 1200px) { 
  .mainscreen{
    width: 50% !important;
  }
 }

@media (max-width: 767.98px) { 
  .mainscreen{
    width: 100% !important;
  }
  .App{
    padding: 5vh 0vh;
    padding-bottom: 0;
    box-sizing: border-box !important;
  }
  .addfood{
    padding: 12px 0;
    cursor: none;
  }
  .form{
    width: 90% !important;
    margin: 0 auto !important;
  }
  .close-btn{
    cursor: none;
  }
 }

